.title{
    font-size: 25px;
    font-style: italic;
    font-family: sans-serif;
    color: #DC143C;
  }
  #case{
      height: 37px;
      width: 200px;
      border: 2px solid #DC143C;
      border-radius: 10px;
  }

  .number{
      height: 50px;
      width: 50px;
      font-size: 25px;
      color: white;
      border: 2px solid #DC143C;
      border-radius: 10px;
      background-color: #F08080;
  }
  .number:hover {
    background-color: #0C620C;
  }

  .operator{
      height: 50px;
      width: 50px;
      font-size: 25px;
      color: white;
      border: 2px solid #DC143C;
      border-radius: 10px;
      background-color: #E9967A;
  }
  .operator:hover{
      background-color: #0C620C;
  }
